/* NAVIGATION STUFF GOES HERE  */
nav {
    ul{
        display: flex;
        justify-content: space-around;
    }
    ul li a {
        border: none;

    }
    ul li a {
        
    }
    ul li a:hover, ul li.active a {
        
    }
}